<%- include('../partials/adminHeader') %>
<%- include('../partials/adminNav') %>
  
  <% const defaultText = (data) => { %>
    <% return data === '' ? 'Info puudub': data %>
  <% } %>
<div id="main-container" class="container-admin">
    <div class="txt-c">
      <h1><h1 id="main-heading"><%= news.heading %></h1></h1>
    </div>
    
    <div class="txt-c">
      <%# HIDE SECTION %>
      <div class="my-2 edit-section">
        <% console.log(news.hidden) %>
        <label id="hide-label" for="hide-section">Peida sektsioon
          <input data-status="<%= news.hidden %>" type="checkbox" name="" id="hide-section"
          <% if (news.hidden === true) { %>
            checked
          <% } %>
          >
        </label>
        <div>
          <button id="hide-section-btn" class="d-none-admin hover-pointer">Salvesta</button>
        </div>
        <p class="p-info"><i>*Eemaldab antud sektsiooni koduleheküljelt</i></p>
      </div>

      <%# EDIT MAIN HEADING %>
      <div class="edit-section my-3">
        <div class="est mb-1">
          <label for="main-heading-input">Pealkiri
            <input id="main-heading-input" type="text" name="heading" placeholder="" value="<%= news.heading %>">
          </label>
        </div>
        <div class="eng mb-1">
          <label for="main-heading-input-eng">Title
            <input id="main-heading-input-eng" type="text" name="heading_eng" placeholder="" value="<%= news_eng.heading %>">
          </label>
        </div>
        <div>
          <label for="main-heading-pos">Asetus
            <select name="heading_pos" id="main-heading-pos">
              <option value="left"
                <% if (news.heading_pos === 'left') { %>
                  selected
                <% } %>
              >Vasakul</option>
              <option value="center"
                <% if (news.heading_pos === 'center') { %>
                  selected
                <% } %>
              >Keskel</option>
              <option value="right"
                <% if (news.heading_pos === 'right') { %>
                  selected
                <% } %>
              >Paremal</option>
            </select>
          </label>
        </div>
        <div class="mt-2">
          <button id="save-main-heading" class="hover-pointer">Salvesta</button>
        </div>
      </div>

      <%# ADD NEW ARTICLE %>
      <div class="mb-2">
        <button class="hover-pointer" id="add-new-section-modal-btn">Lisa uus</button>
      </div>

      <%# NEWS PREVIEWS %>
      <div id="section-previews">
        <div class="section-pre-divs-table mb-1">
          <div class="item1 test-border">Pealkiri</div>
          <div class="item2 test-border">Autor</div>
          <div class="item3 test-border">Allikad</div>
          <div class="item4 test-border">Kuupäev</div>
        </div>
          <div id="section-pre-divs-container">
          <% for (let i = 0; i < news.articles.length; i++) { %>
            <%# ARTICLE PRE VIEW DIV %>
            <div class="section-pre-parent mb-2" id="section-pre-<%= news.articles[i].id %>">
              <div class="section-pre-div">
                <%# heading %>
                <div class="item1 test-border pre-heading-div">
                  <p><%= defaultText(news.articles[i].heading) %></p>

                  <%# display:none subheadings %>
                  <%# est %>
                  <% if (news.articles[i].subHeadings.length > 0) { %>
                    <% for (let subHeading of news.articles[i].subHeadings) { %>
                      <p class="<%= news.articles[i].id %>-subHeading d-none-admin"><%= subHeading %></p>
                    <% } %>
                  <% } %>
                  <%# eng %>
                  <% if (news_eng.articles[i].subHeadings.length > 0) { %>
                    <% for (let subHeadingEng of news_eng.articles[i].subHeadings) { %>
                      <p class="<%= news_eng.articles[i].id %>-subHeadingEng d-none-admin"><%= subHeadingEng %></p>
                    <% } %>
                  <% } %>

                  <%# display:none quotes %>
                  <%# est %>
                  <% if (news.articles[i].quotes.length > 0) { %>
                    <% for (let quote of news.articles[i].quotes) { %>
                      <p class="<%= news.articles[i].id %>-quoteObj d-none-admin"><span class="<%= news.articles[i].id %>-quote"><%= quote.quote %></span>&emsp;<span class="<%= news.articles[i].id %>-by" placehoder="nimi"><%= quote.by %></span></p>
                    <% } %>
                  <% } %>
                  <%# eng display:none %>
                  <% if (news_eng.articles[i].quotes.length > 0) { %>
                    <% for (let quote of news_eng.articles[i].quotes) { %>
                      <p class="<%= news_eng.articles[i].id %>-quoteObjEng d-none-admin"><span class="<%= news_eng.articles[i].id %>-quoteEng"><%= quote.quote %></span>&emsp;<span class="<%= news_eng.articles[i].id %>-byEng" placehoder="by"><%= quote.by %></span></p>
                    <% } %>
                  <% } %>

                <%# display:none paragraphs %>
                  <%# est %>
                  <% if (news.articles[i].paragraphs.length > 0) { %>
                    <% for (let paragraph of news.articles[i].paragraphs) { %>
                      <p class="<%= news.articles[i].id %>-paragraph d-none-admin"><%= paragraph %></p>
                    <% } %>
                  <% } %>
                  <%# eng %>
                  <% if (news_eng.articles[i].paragraphs.length > 0) { %>
                    <% for (let paragraphEng of news_eng.articles[i].paragraphs) { %>
                      <p class="<%= news_eng.articles[i].id %>-paragraphEng d-none-admin"><%= paragraphEng %></p>
                    <% } %>
                  <% } %>
                </div>
                <%# author %>
                <%# est %>
                <div class="item2 test-border pre-author-div">
                  <p><%= defaultText(news.articles[i].author) %></p>
                </div>
                <%# sources %>
                <div class="item3 test-border pre-sources-div">
                  <% if (news.articles[i].sources.length > 0) { %>
                    <% for (let source of news.articles[i].sources) { %>
                      <p class="<%= news.articles[i].id %>-source"><%= source %></p>
                    <% } %>
                  <% } else { %>
                    <p>Info puudub</p>
                  <% } %>

                  <%# eng display:none %>
                  <% if (news_eng.articles[i].sources.length > 0) { %>
                    <% for (let sourceEng of news_eng.articles[i].sources) { %>
                      <p class="<%= news_eng.articles[i].id %>-sourceEng d-none-admin"><%= sourceEng %></p>
                    <% } %>
                  <% } %>
                </div>
                <%# date %>
                <div class="item4 test-border pre-date-div">
                  <p><%= defaultText(news.articles[i].date) %></p>
                </div>
              </div>
              <div class="section-controls pt-1 mb-1">
                <%# OPEN CONCERT EDIT MODAL SIIN POOLELI %>
                <button class="edit-section-modal-button mr-1 edit-modal-btn hover-pointer" data-id="<%= news.articles[i].id %>" data-heading="<%= news.articles[i].heading %>" data-heading-eng="<%= news_eng.articles[i].heading %>" data-img="<%= news.articles[i].img %>" data-img-pos="<%= news.articles[i].img_pos %>"   data-date="<%= news.articles[i].date %>" data-author="<%= news.articles[i].author %>" data-hidden="<%= news.articles[i].hidden %>">Halda</button>
                <%# OPEN CONFIRM REMOVE CONCERT MODAL %>
                <button class="remove-section-modal-button ml-1 hover-pointer" data-id="<%= news.articles[i].id %>">Eemalda</button>
              </div>
            </div>
          <% } %>
        </div>
      </div>



    <%# EDIT NEWS MODAL %>
    <div id="edit-section-modal" class="modal-closed modal edit-section-modal">
      <div class="modal-container modal-l">
        <div class="close-modal data-dismiss"><div><a>X</a></div></div>
        <div class="modal-body txt-c">
          <h3>Halda uudist</h3>
          <%# HIDE ARTICLE %>
          <div class="my-2 edit-section">
            <label id="hide-label" for="hide-section-item">Peida kontsert
              <input type="checkbox" name="" id="hide-section-item">
            </label>
            <p class="p-info"><i>*Eemaldab antud uudise koduleheküljelt</i></p>
          </div>
          <%# EDIT ARTICLE HEADING %>
          <div class="edit-article-heading-section my-3">
            <div class="est mb-1">
              <label for="article-heading-input">Pealkiri
                <input id="article-heading-input" type="text" name="heading" placeholder="Pealkiri" value="">
              </label>
            </div>
            <div class="eng">
              <label for="article-heading-input-eng">Title
                <input id="article-heading-input-eng" type="text" name="heading_eng" placeholder="Title" value="">
              </label>
            </div>
          </div>

          <%# EDIT ARTICLE IMG %>
          <div class="edit-article-img-section mb-3">
            <%# siia salvesta pildi info %>
            <a id="img-input-data" style="display: none;" data-name=""></a>
            <p>Pilt</p>
              <img id="about-img-preview" src="" alt="">
              <div id="img-position-div">
                <p>Pildi asetus teksti suhtes:</p>
                  <label class="radio-label mr-2" for="pos-left">Vasakul<input class="radio" id="pos-left" name="img_pos" value="left" type="radio"></label>
                  <label class="radio-label ml-2" for="pos-right">Paremal<input class="radio" id="pos-right" name="img_pos" value="right" type="radio"></label>
              </div>
              <div id="no-preview-img" class="d-none-admin"><p>Pilt puudub</p></div>
            <div>
              <button id="open-img-modal" class="mt-1 hover-pointer">Vali pilt</button>
            </div>
            
          </div>


          <%# EDIT ARTICLE SUBHEADINGS, paragraph & source %>
          <% let sections = ['subHeading', 'paragraph'] %>
          <% let titles = ['Alapealkirjad', 'Lõigud'] %>
          <% let addDatas = ['Lisa alapealkiri', 'Lisa lõik'] %>
          <% for (let i = 0; i < sections.length; i++) { %>
            <div id="edit-article-<%= sections[i] %>-section" class="my-3">
              <p><%= titles[i] %></p>
              <div>
                <button id="add-new-<%= sections[i] %>" class="mb-1 hover-pointer"><%= addDatas[i] %></button>
              </div>
              <div class="est mb-1">
                <div class="mb-1">
                  <label for="article-<%= sections[i] %>-input">Eesti</label>
                </div>
              </div>
              
                <div class="eng">
                  <div class="mb-1">
                  <label for="article-<%= sections[i] %>-input-eng">Inglise</label>
                  </div>
                </div>
              
            </div>
          <% } %>

          <%# SOURCE %>
          <div id="edit-article-source-section" class="my-3">
            <p>Allikad</p>
            <div>
              <button id="add-new-source" class="mb-1 hover-pointer">Lisa allikas</button>
            </div>
            <div class="est mb-1">
              <div class="mb-1">
                <label for="article-source-input">Eesti</label>
              </div>
            </div>
            
          </div>

          <%# EDIT ARTICLE QUOTES %>
          <div id="edit-article-quotes-section" class="my-3">
            <p>Tsitaat ja autor</p>
            <p>*Autorit ei pea lisama</p>
            <div>
              <button id="add-new-quote" class="mb-1 hover-pointer">Lisa tsitaat</button>
            </div>
            <div class="est mb-1">
              <div class="mb-1">
                <label for="article-quote-input">Eesti</label>
              </div>
            </div>
            
            <div class="eng">
              <div class="mb-1">
                <label for="article-quote-input-eng">Inglise</label>
              </div>
            </div>
          </div>

          <%# EDIT ARTICLE AUTHOR %>
          <div class="edit-section" id="edit-article-description">
            <p>Autor</p>
            <p class="my-0">*Autori eemaldamiseks kustuta tekst</p>
              <div class="mt-3 px-3">
                <div>
                  <div>
                    <input type="text" id="author" placeholder="Autor">
                  </div>
                </div>
              </div>
          </div>

          <%# SAVE ARTICLE DATA %>
          <div class="my-3">
            <button class="hover-pointer" id="update-section" data-id="">Salvesta</button>
          </div>
        </div>
      </div>
    </div>

    

      <%# PICK IMG MODAL %>
      <div id="select-img-modal" class="modal-closed modal">
        <div class="modal-container modal-l">
          <div class="close-modal data-dismiss"><div><a>X</a></div></div>
          <div class="modal-body txt-c">
            <h3>Vali/eemalda pilt</h3>
            <%# IMAGES %>
            <div id="modal-img-container">

            </div>
                
            
          </div>
        </div>
      </div>

      
      <%# REMOVE ARTICLE CONFIRM MODAL %>
      <div id="remove-confirm-modal" class="modal-closed modal">
        <div class="modal-container modal-m">
          <div class="close-modal data-dismiss"><div><a>X</a></div></div>
          <div class="modal-body txt-c">
            <h3>Eemalda <span id="remove-modal-title">?</span></h3>
            <div class="mb-3">
              <button id="confirm-remove-btn" class="mr-3 hover-pointer" data-id="">Kinnita</button>
            
              <button class="hover-pointer" id="cancel-remove-btn">Tagasi</button>
            </div>    
            
          </div>
        </div>
      </div>
        
        
        
      </div>

  </div>
  

<script src="/adminNews.js"></script>
<script src="/pickImg.js"></script>
<%- include('../partials/adminFooter') %>