<%- include('../partials/adminHeader') %>
<%- include('../partials/adminNav') %>
  
 <div id="main-container" class="container">
    <div class="txt-c">
      <h1>Saale Fischer</h1>
    </div>
    <div class="txt-c">
      <%# HIDE SECTION %>
      <div class="my-2 edit-section">
        <label id="hide-label" for="hide-saale-section">Peida sektsioon
          <input type="checkbox" name="hide" id="hide-saale-section"
          <% if (saale.hidden === true) { %>
            checked
          <% } %>
          >
        </label>
        <p class="p-info"><i>*Eemaldab antud sektsiooni koduleheküljelt</i></p>
      </div>
      <%# EDIT ABOUT HEADING %>
      <div class="edit-section my-3">
        <div class="est mb-1">
          <label for="saale-heading-input">Nimi
            <input id="saale-heading-input" type="text" name="heading" placeholder="Saale Fischer" value="<%= saale.heading %>">
          </label>
        </div>
      </div>
      <%# EDIT ABOUT IMG %>
      <div class="edit-section mb-3">
        <%# siia salvesta pildi info %>
        <a id="img-input-data" style="display: none;" data-name="<%= saale.img %>"></a>
        <p>Pilt</p>
        <% if (saale.img != '') { %>
          <img class="mb-1" id="about-img-preview" src="/<%= saale.img %>" alt="">
          <div id="img-position-div">
            <p>Pildi asetus teksti suhtes:</p>
              <label class="radio-label mr-2" for="pos-left">Vasakul<input class="radio" id="pos-left" name="img_pos" value="left" type="radio"
                <% if (saale.img_pos === 'left') { %>
                  checked
                <% } %>
                ></label>
              <label class="radio-label ml-2" for="pos-right">Paremal<input class="radio" id="pos-right" name="img_pos" value="right" type="radio"
                <% if (saale.img_pos === 'right') { %>
                  checked
                <% } %>
                ></label>
          </div>
          <div id="no-preview-img" class="d-none"><p>Pilt puudub</p></div>
        <% } else { %>
          <img class="mb-1 d-none" id="saale-img-preview" src="" alt="">
          <div id="img-position-div" class="d-none">
            <p>Pildi asetus teksti suhtes:</p>
              <label class="radio-label mr-2" for="pos-left">Vasakul<input class="radio" id="pos-left" name="img_pos" value="left" type="radio" checked></label>
              <label class="radio-label ml-2" for="pos-right">Paremal<input class="radio" id="pos-right" name="img_pos" value="right" type="radio"></label>
          </div>
          <div id="no-preview-img"><p>Pilt puudub</p></div>
        <% } %>
        <div>
          <button class="hover-pointer" id="open-img-modal">Muuda</button>
        </div>
        
      </div>
        <%# EDIT saale PARAGRAPHS %>
        <div class="edit-section" id="edit-saale-paragraphs">
          <p>Lõigud</p>
          <div class="mt-1">
            <button class="hover-pointer">Lisa lõik</button>
          </div>
          <% if (saale.paragraphs.length < 1) { %>
            <div class="mt-3 paragraph-div">
              <div>
                <div>
                  Eesti
                  <textarea name="paragraph" data-lang="est" class="paragraph" id="paragraph-0" rows="10" placeholder="Eestikeelne tekst"></textarea>
                </div>
                
                <div>
                  English
                  <textarea name="paragraphENG" data-lang="eng" class="paragraph" id="paragraphENG-0" rows="10" placeholder="Text in english"></textarea>
                </div>
              </div>

              <div>
                <button class="hover-pointer remove-paragraph-btn">Eemalda lõik</button>
              </div>
            </div>
          <% } else { %>
            <% for (let i = 0; i < saale.paragraphs.length; i++) { %>
              <div class="mt-3 paragraph-div">
                <div>
                  <div>
                    Eesti
                    <textarea name="paragraph" data-lang="est" class="paragraph" id="paragraph-<%= i %>" rows="10" placeholder="Eestikeelne tekst"><%= saale.paragraphs[i].body %></textarea>
                  </div>
                  
                  <div>
                    English
                    <textarea name="paragraphENG" data-lang="eng" class="paragraph" id="paragraphENG-<%= i %>" rows="10" placeholder="Text in english"><%= saale_eng.paragraphs[i].body %></textarea>
                  </div>
                </div>

                <div>
                  <button class="hover-pointer remove-paragraph-btn">Eemalda lõik</button>
                </div>
                
              </div>
            <% } %>
          
          <% } %>
          
          
        </div>
        <%# SAVE ABOUT DATA %>
        <div class="my-3">
          <button class="hover-pointer" id="save-data">Salvesta</button>
        </div>
        
      </div>
      
    </div>
    

    <%# MODAL %>
    <div id="select-img-modal" class="modal-closed modal">
      <div class="modal-container modal-l">
        <div class="close-modal data-dismiss"><div><a>X</a></div></div>
        <div class="modal-body txt-c">
          <h3>Vali/eemalda pilt</h3>
          <%# IMAGES %>
          <div id="modal-img-container">

          </div>
              
          
        </div>
      </div>
    </div>
  

<script src="/adminSaale.js"></script>
<script src="/pickImg.js"></script>
<%- include('../partials/adminFooter') %>