<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <%# style %>
    <link rel="stylesheet" href="/style.css" />
    <link id="custom-style" data-title-color="<%= header.bg.heading_color %>" data-title-size="<%= header.bg.heading_size %>" data-intro-color="<%= header.bg.introduction_color %>" data-intro-size="<%= header.bg.introduction_size %>" data-img="<%= header.bg.img %>" data-height="<%= header.bg.height %>" data-overlay="<%= header.bg.overlay %>">
    <script src="/applyStyle.js"></script>
    <title>Floridante</title>
  </head>
  <body>
    <%#
  </body>
  %> <%#
</html>
%>
